/** NAVBAR **/

.navbar__list li a::after,
.form__textpw a::after {
  content: "";
  height: 2px;
  width: 100%;
  background: var(--primary);
  position: absolute;
  bottom: 0;
  left: 0;

  transform: scaleX(0);
  transform-origin: bottom;
  transition: transform 0.3s ease;
}

.form__textpw a::after {
  position: relative;
  left: 113px;
  width: 58%;
}

.navbar__list li a:hover::after,
.form__textpw a:hover::after {
  transform-origin: center;
  transform: scaleX(1);
}

.navbar__ul--register,
.form__login,
.navbar__login--register {
  transition: all 0.5s ease-out;
}

.navbar__ul--register:hover,
.navbar__login--register:hover,
.form__login:hover {
  background-color: var(--tersary);
  transition: all 0.2s ease-in;
  color: black;
  border-color: var(--tersary);
}

.navbar__ul--login {
  transition: all 0.1s ease-out;
}

.navbar__ul--login:hover {
  color: var(--tersary);
}
