@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --background: #4a5a69;
  --primary: #e2e0d5;
  --secondary: #54a6a8;
  --tersary: #fada05;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Rubik";
  color: var(--primary);
}

/** NAVBAR **/

.navbar {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 8px 40px;
  background: var(--background);
}

.navbar__list,
.navbar__list--account {
  display: flex;
  gap: 20px;
}

.navbar__list li {
  position: relative;
  padding: 0;
}

.navbar__ul--register,
.form__login,
.navbar__login--register {
  border: 1px solid var(--primary);
  border-radius: 10px;
  padding: 8px;
}

.navbar__logo {
  height: 50px;
  width: 80px;
}

/** HERO **/

#hero {
  background-color: var(--background);
  padding: 20px;
  color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .hero__info {
    justify-content: center;
    align-items: center;
  }
  .hero__info img {
    margin-left: 450px;
    min-width: 30%;
    padding: 30px 5px;
  }

  .hero__info span {
    color: var(--tersary);
  }

  .hero__texto {
    padding: 20px;
    position: absolute;
    margin-top: 80px;
    font-size: 150px;
    text-align: left;
    font-weight: 900;
    line-height: 120px;
    width: 50%;
    align-content: center;
  }
}

/** INFO **/

#info {
  padding: 70px 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  gap: 80px;

  background: var(--background);
}

#info h2 {
  font-size: 50px;
  font-weight: 800;
}

#info p {
  font-size: 26px;
}

/** INFO CARDS **/

.info__card--container {
  background: var(--background);
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  gap: 10px;
}

.info__card {
  border: solid 2px var(--tersary);
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
}

.info__card--container img {
  height: 150px;
  width: 130px;
}
