body {
  font-family: "Rubik";
  background: var(--background);
}

.navbar__login {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  padding: 10px;
  align-items: center;
}

.navbar__logo--registro {
  width: 107px;
  height: 66px;
}

.main {
  padding: 40px 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.form__input {
  padding: 15px;
  border-radius: 8px;
  background-color: black;
  outline: none;
  border: none;
}

.form__tittle {
  font-size: 40px;
  margin-bottom: 30px;
}

.form__forgotpw,
.form__login {
  display: flex;
  flex-direction: column;
}

.form__forgotpw {
  text-align: end;
  margin-top: 5px;
}

.form__login {
  align-items: center;
  text-align: center;
  margin-top: 40px;
  justify-content: center;
}

.form__login2 {
  text-align: center;
}

.form__login--input {
  background-color: var(--background);
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
